<p-card class="p-mb-2">
    <h3>Registre sus caracteres de un alfabeto separando por comas</h3>
    <form [formGroup]="myForm" (ngSubmit)="capturarArrayAlfabetos" autocomplete="off">
        <div class="p-formgroup-inline">
            <div class="p-field">
                <label for="arrayA" class="p-sr-only">AlfabetoA</label>
                <input id="arrayA" type="text" pInputText placeholder="Ingrese su alfabeto" formControlName="arrayA">
            </div>
            <div class="p-field">
                <label for="arrayB" class="p-sr-only">AlfabetoB</label>
                <input id="arrayB" type="text" pInputText placeholder="Ingrese su alfabeto" formControlName="arrayB">
            </div>
            <button [disabled]="myForm.invalid" pButton pRipple type="button" label="Submit" (click)="capturarArrayAlfabetos()"></button>
        </div>
    </form>
</p-card>
<div *ngIf="estado">
    <p-divider align="center">
        <b>Operaciones de lenguajes formales (ALfabeto)</b>
    </p-divider>
    <div class="p-grid p-mt-2">
        <div class="p-col-6">
            <p-fieldset legend="Unión" [toggleable]="true">
                {{unionAlfabeto}}
            </p-fieldset>
        </div>
        <div class="p-col-6">
            <p-fieldset legend="Diferencia" [toggleable]="true">
                <p>Diferencia entre A y B = {{diferenciaAB}} </p>
                <p-divider></p-divider>
                Diferencia entre B y A = {{diferenciaBA}}
            </p-fieldset>
        </div>
        <div class="p-col">
            <p-fieldset legend="Intersección" [toggleable]="true">
                {{interseccion}}
            </p-fieldset>
        </div>
    </div>
</div>